.error-card {
  border: 2px solid red;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
  background-color: #fafafa;
  height: 12rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  &__title {
    color: white;
    display: inline-block;
    height: 4rem;
    background-color: $color-primary-warning;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__message {
    transform: translateY(50%);
  }
}
