.list-article-container {
  display: flex;
  @include respond(tab-port) {
    flex-direction: column;
  }
  &__social {
    width: 35%;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    @include respond(phone) {
      width: 60%;
    }
    input {
      padding: 0.5rem;
      border-color: $muted;
      border-width: 1px;
      &:focus {
        outline: none;
      }
    }
    .btn {
      width: 10rem;
      text-align: center;
    }
  }
}

.list-article {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  border-right: 1px solid $muted;
  width: 65%;
  @include respond(tab-port) {
    width: 100%;
    font-size: 1.7rem;
    border-right: none;
  }
  .btn {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
  }
  &__article {
    width: 50%;
    padding: 2.5rem;
    line-height: 1.5;
    min-height: 40rem;
    &--loading {
      width: 50%;
      padding: 2.5rem;
      line-height: 1.5;
      min-height: 40rem;
      @include respond(phone) {
        width: 100%;
        &:nth-child(even) {
          margin-top: 0rem;
        }
      }
    }
    &:nth-child(even) {
      margin-top: 2rem;
    }
    @include respond(phone) {
      width: 100%;
      &:nth-child(even) {
        margin-top: 0rem;
      }
    }
    hr {
      background-color: $muted;
      border: none;
      height: 1px;
    }
    &__content {
      font-family: "Roboto-light";
      &--loading {
        height: 20rem;
        background: linear-gradient(to right, #fafafa, lightgrey);
        background-position: 2rem 2rem;
        animation: loadingContent 0.8s infinite forwards;
      }
    }
    &__header {
      display: flex;
      &--loading {
        display: flex;
      }
      span {
        color: $muted;
      }
      &--title {
        cursor: pointer;
      }
      &--category {
        color: $muted;
        font-style: italic;
      }
      img {
        width: 30%;
        max-height: 12rem;
        object-fit: cover;
        cursor: pointer;
        border: 1px solid $muted;
        @include respond(phone) {
          max-height: 15rem;
        }
      }
      &--post-image--loading {
        background: linear-gradient(to right, #fafafa, lightgrey);
        background-position: 2rem 2rem;
        height: 10rem;
        width: 30%;
      }
      &__meta {
        width: 70%;
        &--loading {
          width: 50%;
          background: linear-gradient(to right, #fafafa, lightgrey);
          background-position: 1rem 1rem;
          height: 5rem;
          animation: loadingCategory 0.8s infinite forwards;
        }

        &--loading {
          width: 70%;
        }
      }
    }
  }
}
