.article-container {
  display: flex;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  &__social {
    width: 30%;
    font-size: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    input {
      @include respond(phone) {
        width: 30rem;
      }
      padding: 0.5rem;
      border-width: 1px;
      &:focus {
        outline: none;
      }
    }
    .btn {
      width: 10rem;
      text-align: center;
    }
  }
  @include respond(tab-port) {
    flex-direction: column;
    padding: 0rem;
  }
}

.main-article {
  width: 70%;
  font-size: 2rem;
  border-right: 1px solid $muted;
  padding: 1.5rem;
  @include respond(phone) {
    width: 100%;
    border-right: none;
    font-size: 2.2rem;
  }
  &__header {
    &--category {
      color: $muted;
    }
    &--title {
      font-size: 4rem;
    }
    &--footer {
      color: $muted;
      a {
        text-decoration: underline;
      }
    }
  }
  &__content {
    line-height: 1.5;
    pre {
      margin-top: 2rem;
      background-color: $color-primary-black;
      color: white;
    }
    p {
      display: flex;
      &:not(:first-child) {
        margin-top: 1.2rem;
      }
      figure {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 50%;
          @include respond(phone) {
            width: 100%;
          }
        }
        figcaption {
          background-color: rgba($color: #000000, $alpha: 0.5);
          color: white;
          width: 50%;
          text-align: center;
          transform: translateY(-100%);
          @include respond(phone) {
            width: 100%;
          }
        }
      }
    }
  }
  &__figure {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary-black;
    &__image {
      width: 100%;
      max-height: 40rem;
      object-fit: contain;
      @include respond(tab-port) {
      }
    }
  }
}
