@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Medium.ttf");
  font-style: medium;
}
@font-face {
  font-family: "Roboto-light";
  src: url("/fonts/roboto/Roboto-Light.ttf");
  font-style: medium;
}

body {
  font-family: "Roboto";
  line-height: 1.7;
}
a {
  text-decoration: none;
  color: black;
}
